/* Global styles */

h1 {
  font:  150% "Cooper Black";
  color: DarkSlateBlue;
  border-bottom: 3px dotted #77d;
}

/* Styles for movies/index */

#movie-list table {
  border-collapse: collapse;
}

#movie-list table tr td {
  padding: 5px;
  vertical-align: top;
}

#movie-list .list-image {
  width:        200px;
  height:       200px;
}

#movie-list .list-description {
  width:        60%;
}

#movie-list .list-description dl {
  margin: 0;
}

#movie-list .list-description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#movie-list .list-description dd {
  margin: 0;
}

#movie-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#movie-list .list-line-even {
  background:   #e0f8f8;
}

#movie-list .list-line-odd {
  background:   #f8b0f8;
}


/* START:mainlayout */
/* Styles for main page */

#banner {
  background: CornflowerBlue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Showcard Gothic", bold;
  color: MidnightBlue;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: MidnightBlue;
}

#main {
  margin-left: 15em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 14em;
  background: MidnightBlue;
}

#side a {
  color: CornflowerBlue;
  font-size: small;
}
/* END:mainlayout */

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 150px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 font-size: 110%;
 color: SlateBlue;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .starring-line {
 color: RoyalBlue;
 font-family: sans-serif;
 font-weight: bold;
 margin-right: 2em;
}

#store .entry .add-to-cart {
  position: relative;
}

#store .entry  .starring {
  color: black;
  font-weight: normal;
  font-size: 80%;
}

#store .entry form, #store .entry form div {
display: inline;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Styles for error notice */

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0 ;
  font: bold smaller sans-serif;
}

/* Styles for the cart in the main page */

.cart-title {
  font: 150% "Kristen ITC", bold;
}

.description{
  font: 100% "Kristen ITC", bold;
}

.buttons{
  font: 100% "MV Boli";
}

.item-rating, .total-line {
  text-align: right;
}

.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #595 ;
}

/* Styles for the cart in the sidebar */

#cart, #cart table {
  font: smaller "MV Boli";
  color: white;
}

#cart table {
  border-top: 1px dotted #595 ;
  border-bottom: 1px dotted #595 ;
  margin-bottom: 10px;
}

/* Styles for order form */

.favorites-form fieldset {
  background: PowderBlue;
}

.favorites-form legend {
  color: #dfd ;
  background: MidnightBlue ;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.favorites-form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.favorites-form select, .favorites-form textarea, .favorites-form input {
  margin-left: 0.5em;
}

.favorites-form .submit {
  margin-left: 4em;
}

.favorites-form div {
  margin: 0.5em 0;
}